/* Variables SCSS consolidées */
$primary-color: #3b82f6;
$primary-hover: #2563eb;
$text-color: #333;
$background: #f7f9fc;
$card-background: #ffffff;
$input-border: #d1d5db;
$input-focus: $primary-color;
$icon-color: #6b7280;
$border-radius: 0.375rem;
$transition-speed: 0.2s;
$shadow-light: 0 4px 12px rgba(0, 0, 0, 0.08);
$shadow-hover: 0 8px 25px rgba(0, 0, 0, 0.15);


/* Reset global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100vh;
    background-color: rgb(229, 239, 240);
    font-family: 'Inter', sans-serif;
}